@import "./base.css";

* {
    margin: 0;
    padding: 0;
}

main {
    max-width: 600px;
    margin: 0 auto;
}


.dancing_font {
    font-family: 'Dancing Script', cursive;
    letter-spacing: 0px;
    word-spacing: 0px;
    color: #000000;
    text-decoration: none;
    font-style: oblique;
    font-variant: small-caps;
    text-transform: none;
}

.serif_font {
    font-family: 'Noto Serif Display', serif;
    letter-spacing: 2px;
    word-spacing: 0px;
    color: #000000;
    font-weight: normal;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: uppercase;
}

.my-card, input {
    border-radius: 5px;
    border: solid 1px lightgrey;
    padding: 10px;
}